main {
  margin-left: 295px;
  margin-top: 1.5em;
  margin-right: 1.2em;
}

#submit {
  background-color: grey;
  border-color: grey;
}

#submit:hover {
  color: black;
}
#create-feedback-btn {
  background-color: grey;
  border-color: grey;
}
#create-feedback-btn:hover {
  color: black;
}
#modalSubmitBtn {
  background-color: grey;
  border-color: grey;
}
#modalSubmitBtn:hover {
  color: black;
}
.pagination {
  justify-content: center;
  font-weight: bold;
  margin-right: 5em;
}

.pagination li {
  display: inline-block;
  font-size: 1.2em;
}
.pagination a {
  color: black;
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #071952;
  border-radius: 1px;
}

.pagination a:hover {
  background-color: grey;
  color: white;
}
.pagination .active a {
  background-color: grey;
  border-color: grey;
  color: white;
}
